html, body {
  margin: 0;
  padding: 0;
}

.light {
  background-color: #f5f5f5;
  color: #242424;
  transition: all 0.3s ease;
}

.dark {
  background-color: #242424;
  color: white;
  transition: all 0.3s ease;
}
